<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    
     
    <style type="text/css">
    	/*设置背景颜色为白色*/
    	html,body{background-color: #FFF;}
    	
    	/*顶部搜索框*/
    	.wrap-search{
    		margin: 15px;
    		background: #E6E6E6;
    		height: 30px;
    		border-radius: 5px;
    		text-align: center;
    	}
    	
    	/*设置mui-content的背景颜色*/
    	#my-mui-content{background: #FFF;}
    	
    	/*设置搜索框放大镜icon*/
    	#my-mui-icon-search{line-height: 30px; color: #AAA; font-size: 18px;}
    	
    	/*设置搜索框默认文字*/
    	#my-mui-search-content{line-height: 30px;color:#AAA;font-size: 14px;}
    	
    	/*图片*/
    	.my-img{width: 60px; height: 90px; margin-right: 10px;}
    	
    	/*scroll区域滚动*/
    	#refreshContainer{top:50px;}
    	
    	/*通用样式*/
    	.dark-big{color: #333; font-size: 16px;}
    	.gray-small{color: #A2A2A2; font-size: 12px;}
    	.orange-small{color: #F79709; font-size: 12px;}
    	
    	/*控制toast位置*/
    	.mui-toast-container {bottom: 50% !important;}
    	
    </style>
</head>
<body>
	<div class="mui-content" id="my-mui-content">
		
		<!--搜索框-->
		<div class="wrap-search">
			<span class="mui-icon mui-icon-search" id="my-mui-icon-search"></span>
			<span id="my-mui-search-content">电影/电视剧/影人</span>
		</div>
		
		<div id="refreshContainer">
			<!--<div class="mui-scroll">-->
				<ul class="mui-table-view" id="movies">
					<!--@tap是vue中定义的事件-->
				    <li class="mui-table-view-cell" v-for="item in movies" @tap="openDetail(item)">
				    	<img :src="item.cover" alt="" class="my-img mui-pull-left" />
				    	<div class="mui-ellipsis dark-big">
				    		{{item.title}}
				    	</div>
				    	<div class="mui-ellipsis">
				    		<span class="gray-small">{{item.genres}}</span>&nbsp;
				    		<span v-if="item.score > 0" class="orange-small">{{item.score}}分</span>
				    		<span v-else class="orange-small">暂无评分</span>
				    	</div>
				    	<div class="mui-ellipsis gray-small">
				    		导演: {{item.directors}}
				    	</div>
				    	<div class="mui-ellipsis gray-small">
				    		主演: {{item.casts}}
				    	</div>
				    </li>
				    
				</ul>
			<!--</div>-->
		</div>
		
	</div>
</body>
<script type="text/javascript">
	// vue
  	var data_movies = new Vue({
  		el : '#movies',
  		data : {
  			movies : []
  		}
  	});
  	
	mui.init({
		swipeBack : true, 
	  	pullRefresh : {
		    container:"#refreshContainer",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
		    
		    // 下拉刷新
		    down : {
		      	/*style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
		      	color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
		      	height:'50px',//可选,默认50px.下拉刷新控件的高度,
		      	range:'100px', //可选 默认100px,控件可下拉拖拽的范围
		      	offset:'0px', //可选 默认0px,下拉刷新控件的起始位置*/
		      	auto: false,//可选,默认false.首次加载自动上拉刷新一次
		      	callback :refreshData //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
		    },
		    
		    // 上拉加载
		    up : {
		      	height:50,//可选.默认50.触发上拉加载拖动距离
		      	auto:true,//可选,默认false.自动上拉加载一次
		      	contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
		      	contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
		      	callback :loadMoreData //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
		    }
	  	}
	});
	
	// 通过mui.preload()方法预加载,可立即返回对应webview的引用,但一次仅能预加载一个页面;
	// 若需加载多个webview,则需多次调用mui.preload()方法;
	// 预加载电影详情页面
	var detailPage;
	mui.plusReady(function(){
		detailPage = mui.preload({
			url:'./detail.html',
		    id:'detail' //默认使用当前页面的url作为id
		});
	});
	
  	
  	// 打开电影详情页面
  	function openDetail(item) {
  		// 触发详情页面的movieId事件
  		mui.fire(detailPage, 'movieId', {
  			id : item.id
  		});
  		// 打开新页面
  		mui.openWindow({
  			id : 'detail' // preload中定义的id
  		});
  	}
	
	// 下拉刷新
	function refreshData() {
		// 请求豆瓣热映列表接口
		mui.getJSON('https://api.douban.com/v2/movie/in_theaters',{
			start : 0,
			count: 10
		},function(data){
			// 清空数组
			data_movies.movies.splice(0, data_movies.movies.length);
			
			// 添加新的元素
			data_movies.movies = data_movies.movies.concat(convert(data.subjects));
			
			//没有更多内容了
			mui('#refreshContainer').pullRefresh().endPulldownToRefresh();
     		mui('#refreshContainer').pullRefresh().refresh(true);
     		
     		mui.toast('刷新成功',{type:'div'});
		});
	}
	
	// 上拉加载
	function loadMoreData() {
		// 请求豆瓣热映列表接口
		mui.getJSON('https://api.douban.com/v2/movie/in_theaters',{
			start : data_movies.movies.length,
			count: 10
		},function(data){
			
			// 添加新的元素
			data_movies.movies = data_movies.movies.concat(convert(data.subjects));
			
			// 没有更多内容
     		mui('#refreshContainer').pullRefresh().endPullupToRefresh(data.subjects.length == 0);
     		
     		
		});
	}
	
	// 给搜索框添加点击事件
	mui('.wrap-search')[0].addEventListener('tap', function(){
		// 点击响应逻辑
		mui.openWindow({
			id : 'search',
			url : './search.html'
		});
	});
	
	
	// 数据转换
	function convert(items) {
		var newItems = [];
		
		// 遍历items
		items.forEach(function(item){
			// 如果 item.genres = ['剧情', '喜剧'] 
			// 那么 item.genres.toString() = 剧情,喜剧
			// 那么 item.genres.toString().replace(/,/g, ' / ') = 剧情 / 喜剧
			// /g是执行全局匹配, 而不是在找到第一个匹配后停止
			var genres = item.genres.toString().replace(/,/g, ' / ');
			
			// 导演
			var directors = '';
			for (var i = 0; i < item.directors.length; i++) {
				directors += item.directors[i].name;
				
				if (i != item.directors.length - 1) {
					directors += ' / ';
				}
			}
			
			// 演员
			var casts = '';
			for (var i = 0; i < item.casts.length; i++) {
				casts += item.casts[i].name;
				
				if (i != item.casts.length - 1) {
					casts += ' / ';
				}
			}
			
			// push() 方法可向数组的末尾添加一个或多个元素
			newItems.push({
				id : item.id,
				title : item.title,
				genres : genres,
				cover : item.images.large,
				score : item.rating.average,
				directors : directors,
				casts : casts
			});
		});
		
		return newItems;
	}
	
	
	
</script>
</html>